<p id="notice"><%= notice %></p>

<h1>Listing Rounds for <%= @tournament.name %></h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= link_to round.number, round_path(round, tournament_id: @tournament.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Round', new_round_path(tournament_id: @tournament.id) %>
